// _curtains.scss

#curtains {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  cursor: pointer;
  overflow: hidden;
  background: transparent;

  .left,
  .right {
    content: "";
    position: fixed;
    z-index: 2;
    top: -50px;
    bottom: -50px;
    width: 61%;
    height: calc(100vh + 100px);

    transition: all 4s ease-out;
    transform: rotate(0deg);
    background-color: #a90505;
    background-image: linear-gradient(90deg, transparent 10%, rgba(255, 255, 255, 0.25) 50%, transparent 65%);
    background-repeat: repeat;
    box-shadow: 0 0 10px #555, inset 0 -60px 60px -30px rgba(255, 255, 255, 0.5),
      inset 0 90px 60px -30px rgba(0, 0, 0, 0.5);
    background-size: 80px;
  }

  .left {
    left: -10%;
  }

  .right {
    right: -10%;
  }

  &.opening {
    cursor: none;
    pointer-events: none;
  }

  &.open {
    cursor: default;
    pointer-events: none;
    
    .left,
    .right {
      width: 0;
      background-size: 1px;
      transition: all 4s ease;
      transform: rotate(15deg);
    }
    
    .right {
      transform: rotate(-15deg);
    }
  }
}

