// _stats.scss

#stats {
  font-family: monospace;
  width: 100%;
  color: $white;
  border-top: 1px solid rgba($white, 0.35);
  padding-top: 15px;
  font-size: 1.4rem;
  position: relative;

  .stat {
    .label {
      display: inline-block;
      width: 60px;
    }

    .value {
      &--clickable {
        cursor: pointer;

        // &:hover {
          text-decoration: underline;
        // }
      }
      
      &::before {
        content: ":";
        margin-right: 4px;
        display:inline-block;
        text-decoration: none !important;
      }
    }
  }
}
